<ion-app>
  <!-- Solo un router-outlet -->
  <ion-split-pane contentId="main-content" when="lg" *ngIf="!isAuthRoute">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header translucent="true">
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Control de combustibles</ion-list-header>
          <ion-note>y mantenimientos</ion-note>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root"
                        [routerLink]="[p.url]"
                        lines="none"
                        detail="false"
                        routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start"
                          [ios]="p.icon + '-outline'"
                          [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
          <!-- 🔹 Botón de logout -->
          <ion-item button (click)="logout()" lines="none">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <!-- En login, solo el outlet -->
  <ion-router-outlet *ngIf="isAuthRoute" id="main-content"></ion-router-outlet>
</ion-app>
