<ion-content class="ion-padding login-page">
  <div class="login-brand">
    <img src="assets/img/logo.png" alt="Motive" class="app-logo-login" />
    <h1>Motive</h1>
    <p>Iniciar sesión</p>
  </div>

  <div class="form-wrapper">
    <!-- Campos trampa -->
    <input type="text" name="fakeuser" autocomplete="username" style="display:none;">
    <input type="password" name="fakepass" autocomplete="current-password" style="display:none;">

    <form (ngSubmit)="doLogin()" autocomplete="off">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="login_custom_email" autocomplete="off" [(ngModel)]="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="login_custom_password" autocomplete="new-password" [(ngModel)]="password"
          required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top">
        Iniciar sesión
      </ion-button>

      <ion-text color="danger" *ngIf="error">
        <p class="ion-padding">{{ error }}</p>
      </ion-text>
    </form>
  </div>
</ion-content>
